.frame-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  & > .frame {
    width: min(100%, 600px);
    height: min(100%, 870px);
    border: 10px solid black;
    @media (max-width: 620px) {
      border: none;
      width: 100%;
      height: 100%;
    }
  }
}
